<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Title</title>
    <link href="./uicons/css/uicons-brands.css" rel="stylesheet" />
    <link
      rel="stylesheet"
      href="https://cdn-uicons.flaticon.com/2.2.0/uicons-regular-rounded/css/uicons-regular-rounded.css"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.0/font/bootstrap-icons.css"
    />
  </head>
  <body>
    <i class="fi fi-rr-user">hhhhh</i>
      <i class="bi-alarm" style="font-size: 1.5rem; color: cornflowerblue"></i>
    </svg>
  </body>
</html>
